<div class="sticky-top-dashboard">
  <%= render 'layouts/top_dashboard' %>
</div>
    <div class="container center-items">
      <div class="My-orders">
        <div class="card card-checkout py-3 border-0 rounded-3xl">
          <h2 class="card-title text-center my-4">My orders</h2>
          <hr>
          <div class="card-body">
            <% @orders.each do |order_lists| %>
              <% total_price = 0 %>
              <div class="card mb-2 border-0 rounded-3xl">
                <div class="card-body d-grid grid-3 gap-2 p-3">
                  <% order_lists[1].each do |order_list| %>
                    <div class='d-flex'>
                      <div class="card-image image-round  mr-3" style="background-image: url(<%= cl_image_path(order_list.meal.photo.key) %>);"></div>
                      <div class="ms-3">
                        <h5 class="card-title mb-2 mt-0"><strong><%= order_list.meal.name %></strong></h5>
                        <p class="card-text text-muted mb-0">Rs <%= order_list.meal.price %></p>
                      </div>
                      <% total_price += order_list.meal.price %>
                    </div>
                  <% end %>
                </div>

                <div class="total-price pe-2">
                    <% order = Order.find(order_lists[1][0][:order_id]) %>
                    <% if order.delivered_status %>
                      <span class="badge bg-success">Delivered</span>
                    <% else %>
                      <%= link_to 'delivered ?', mark_as_delivered_order_path(order), class: 'badge bg-warning text-white text-decoration-none', data: { turbo_method: :patch } %>
                    <% end %>

                  <p>Total: <strong>RS <%= total_price %></strong></p>
                </div>
              </div>
              <hr>
            <% end %>
            <hr class="my-4">
          </div>
        </div>
      </div>
    </div>
  <div class="sticky-btm-dashboard">
    <%= render 'layouts/btm_dashboard' %>
  </div>

