<div class="container cart-container">
  <div class="your-cart">
        <div class="card card-checkout py-3 border-0 rounded-3xl">
          <h2 class="card-title text-center my-4">Your Cart</h2>
          <hr>
          <div class="card-body">
            <% total_price = 0 %>
            <% @order_lists.each do |order_list| %>
              <div class="card mb-2 border-0 rounded-3xl">
                <div class="card-body d-flex align-items-center p-3">
                  <div class="card-image mr-3" style="background-image: url(<%= cl_image_path(order_list.meal.photo.key) %>); height: 100px; width: 100px; background-size: cover; background-position: center;"></div>
                  <div class="ms-3">
                    <h5 class="card-title mb-2 mt-0"><strong><%= order_list.meal.name %></strong></h5>
                    <p class="card-text text-muted mb-0">Rs <%= order_list.meal.price %></p>
                  </div>
                  <% total_price += order_list.meal.price %>
                </div>
              </div>
              <hr>
            <% end %>
            <div class="total-price">
              <p>Total: <strong>RS <%= @cart.total_price %></strong></p>
            </div>
            <hr class="my-4">
            <div class="text-center check-btn-container ">
              <a href="#" class="btn-custom-g">Continue Shopping</a>
              <a href="#" class="btn-custom-y">Cancel</a>
            </div>
          </div>
        </div>
  </div>

  <div class="checkout-container">
    <div class="form-container">
        <div class="field-container">
            <label for="name">Name</label>
            <input id="name" maxlength="20" type="text">
        </div>
        <div class="field-container">
            <label for="cardnumber">Card Number</label>
            <input id="cardnumber" type="text" pattern="[0-9]*" inputmode="numeric">
        </div>
        <div class="field-container">
            <label for="expirationdate">Expiration (mm/yy)</label>
            <input id="expirationdate" type="text" pattern="[0-9]*" inputmode="numeric">
        </div>
        <div class="field-container">
            <label for="securitycode">Security Code</label>
            <input id="securitycode" type="text" pattern="[0-9]*" inputmode="numeric">
        </div>
    </div>
    <%= link_to 'Checkout!', cart_path(@cart), data: { turbo_method: :patch }, class: 'btn btn-custom-g btn-lg w-100' %>
  </div>
</div>
