<h1 class="text-center", style= "font-weight: bold; font-size: 100px; color: white;"><%= @restaurant.name %></h1>
<div class="d-flex justify-content-around">
<%= link_to 'Add meal!', new_restaurant_meal_path(@restaurant), class: 'btn-custom-g' %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn-custom-g' %>
</div>




<div class="container d-grid grid-3 gap-3 my-5">
  <% @meals.each do |meal| %>
    <div class="card card-meal">
      <% if meal.photo.attached? %>
      <div class="card-image" style="background-image: url( <%= cl_image_path(meal.photo.key) %>); height:212px;">
      </div>
      <% else %>
      <div class="card-image" style="background-image: url(); height:212px;">
      </div>
      <% end %>

      <div class="card-body card-meal-body">
        <div class='d-flex justify-content-between'>
          <h5 class="card-title"> <%= meal.name.upcase %></h5>
          <h6 class="card-price"><i class="fa-solid fa-tag"></i> <strong> Rs<%= meal.price %></strong></h6>
        </div>
        <p><i><%= image_tag "logo.png", alt: "", width: 20, class: "img-logo" %></i> <%= meal.description %> </p>
        <div class= "d-flex justify-content-between">
        <%= link_to 'Edit Meal', edit_restaurant_meal_path(@restaurant, meal), class: 'btn-custom-y text-center', style: 'width:100px;' %>
       <button class='btn-h' style='width: 100px;'>Delete</button>
        </div>
       </div>
    </div>
  <% end %>
</div>
