<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('tcover.png') %>);">
</div>



<div class="container d-grid grid-3 gap-3 my-5">
  <% @meals.each do |meal| %>
    <div class="card card-meal">
      <% if meal.photo.attached? %>
      <div class="card-image" style="background-image: url( <%= cl_image_path(meal.photo.key) %>); height:212px;">
      </div>
      <% else %>
      <div class="card-image" style="background-image: url(); height:212px;">
      </div>
      <% end %>

      <div class="card-body card-meal-body">
        <div class='d-flex justify-content-between'>
          <h5 class="card-title"> <%= meal.name.upcase %></h5>
          <h6 class="card-price"><i class="fa-solid fa-tag"></i> Rs <%= meal.price %></h6>
        </div>
        <p><i class="fa-solid fa-bowl-food"></i> <%= meal.description %> </p>
        <%= link_to "Add a rating", new_meal_meal_review_path(meal) %>
        <%= simple_form_for(@order_list) do |f| %>
          <%= f.association :meal, as: :hidden, input_html: {value: meal.id}  %>
          <%= f.association :cart, as: :hidden, input_html: {value: @cart.id}  %>
          <%= f.button :submit,  'Add to Cart', class: 'add-to-cart-btn' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
