<%= render 'layouts/top_dashboard' %>
  <div class="container mb-5 mt-4 form-meals-new">
  <h1 class='text-center meal'>Create a new meal</h1>
  <%= simple_form_for [@restaurant, @meal] do |f| %>
    <div class="form-group">
      <%= f.input :name, label: "Name", input_html: { class: 'form-control' }, placeholder: "Enter name" %>
    </div>
    <div class="form-group">
      <%= f.input :description, label: "Description", input_html: { class: 'form-control' }, placeholder: "Enter description" %>
    </div>
    <div class="form-group">
      <%= f.input :price, label: "Price", input_html: { class: 'form-control' }, placeholder: "Enter price" %>
    </div>
    <div class="form-group">
      <%= f.input :photo, as: :file, label: "photo", input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group d-flex justify-content-between">
      <%= f.button :submit, class: "btn btn-custom-au" %>
  <%= link_to 'Back', restaurant_path(@restaurant), class: 'btn btn-custom-k' %>
    </div>
  <% end %>
  </div>
<%= render 'layouts/btm_dashboard' %>
