<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('meat-skewer-with-vegetables-black-backgroundai-generative.jpg') %>);">
  <div class="container banner-content">
    <h1 style="font-size: 48px; color: white;">
      <span style="display: block; font-size: 72px;">Hurban Food</span>
    </h1>
    <p>
      <strong>your food lover's companion</strong>
      designed to simplify
      <strong >your culinary adventures</strong>!
    </p>
  </div>
</div>

<div class="restaurant-container">
  <div class="container">
    <div class="restaurant-cards">
      <% @restaurants.each do |restaurant| %>
        <%= link_to restaurant_path(restaurant) do %>
          <div class="card-scroll">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= restaurant.photo.attached? ? cl_image_path(restaurant.photo.key, height: 300, crop: :fill) : asset_path('meat-skewer-with-vegetables-black-backgroundai-generative.jpg', height: 300, crop: :fill) %>')">
              <p>
                <%= restaurant.name %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="about-us-container">
  <div class="container about-us-content">
    <div class="about-us-text">
      <h1 class="about-us-heading">About Us</h1>
      <p>
        "Hurban Food" is your go-to food app for urban cravings. Discover a diverse range of culinary delights from local eateries, trendy cafes, and hidden gems within your vicinity. Whether you're in the mood for a quick bite or a gourmet meal, Hurban Food makes ordering easy with seamless delivery or pickup options.
      </p>
    </div>

    <div class="about-us-logo">
      <%= image_tag('hf-round-vert.png', alt: 'Hurban Food Logo') %>
    </div>
  </div>
</div>

<div class="container my-5">

  <div id="map" style="width: 100%; height: 600px; border-radius: 10px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
  </div>
</div>
