<%= render 'layouts/top_dashboard' %>
<h1 class="text-center">Your Restaurants</h1>
<div class="restaurant-container my-restaurants-container">
  <div class="container">
    <div class="restaurant-cards d-flex justify-content-around">
      <% @restaurants.each do |restaurant| %>
        <div>
          <%= link_to restaurant_path(restaurant) do %>
            <div class="card-scroll">
              <div class="card-category"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= restaurant.photo.attached? ? cl_image_path(restaurant.photo.key, height: 300, crop: :fill) : asset_path('meat-skewer-with-vegetables-black-backgroundai-generative.jpg', height: 300, crop: :fill) %>')">
                <p>
                  <%= restaurant.name %>
                </p>
              </div>
            </div>
            <% end %>
            <div class="btn-layout-restaurant">
              <%= link_to 'Add meal!', restaurant_meals_path(restaurant), class: 'btn-custom-g' %>
              <%= link_to 'Edit', edit_restaurant_path(restaurant), class: 'btn-o'%>
              <%= link_to 'Delete', restaurant_path(restaurant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn-h' %>
            </div>
        </div>
          <% end %>
      </div>
    <div class='d-flex justify-content-center mt-3'>
    <%= link_to "Add Restaurant", new_restaurant_path, class: "btn-m"%>
    </div>
  </div>
</div>
<%= render 'layouts/btm_dashboard' %>
