<div class="banner">
  <div class="container mt-5 form-restaurant">
    <%= simple_form_for @restaurant do |f| %>
      <%= f.input :name, placeholder:"Enter name" %>
      <%= f.input :address, placeholder: "Enter address" %>
      <%= f.input :phone, placeholder: "Enter phone number" %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
