  <div class="container new-restaurant-info mt-3">
    <h1 class=" restaurant-title text-center">Create <strong>your new restaurant</strong> <strong>below !</strong></h1>
  </div>


<div class="container d-flex new-restaurant-container mb-5">
  <div class="d-flex login-form-container mx-3 gap-4">
    <div class="form-details">
      <%= simple_form_for @restaurant do |f| %>
        <div class="form-inputs-new-restaurant">
          <%= f.input :name, placeholder:"Enter name" %>
          <%= f.input :address, placeholder: "Enter address" %>
          <%= f.input :phone, placeholder: "Enter phone number" %>
          <%= f.input :photo, label: "Restaurant's photo", as: :file %>
          <%= f.input :chef_photos, label: "Chef's photos", as: :file, input_html: {multiple: true} %>
        </div>

        <%= f.submit class: 'btn-custom-g mt-4' %>
      <% end %>
    </div>

  </div>

<div class="container d-flex justify-content-center gap-3">
    <div class="form-infos-new-restaurant">
      <div class="about-us-logo">
      <%= image_tag('hf-round-vert.png', alt: 'Hurban Food Logo') %>
    </div>
    </div>
    </div>
</div>

<style>
  body {
    background-color: white;
  }
</style>
