
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('bover.png') %>);">

</div>
<div class="card-product">
   <%= image_tag "reto.png"%>
  <div class="card-product-infos">
    <h2><%= @restaurant.name %></h2>
    <p><%= @restaurant.phone %></p>
    <p><%= @restaurant.address %></p>
    <p>⭐⭐⭐</p>
    <a class="btn btn-gradient" href="#">Menu</a>
  </div>
</div>
