<div class="container mt-3 mb-3">
  <div class='container-centered d-flex gap-3 justify-content-between'>
    <div style='width:50%;'>
      <div>
        <% if @restaurant.photo.attached? %>
          <%= cl_image_tag @restaurant.photo.key, class: 'img-fluid img-fluid-radius' %>
        <% else %>
          <%= image_tag "reto.png", class: 'img-fluid' %>
        <% end %>
      </div>
    </div>

    <div class='banner-restaurant-right'>
      <div class="restaurant-info mb-5">
        <h2 class="card-title"><%= @restaurant.name %></h2>
        <% if @restaurant.restaurant_reviews.any? %>
          <% average_rating = @restaurant.average_rating.round %>
          <% average_rating.times do  %>
            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
          <% end %>
        <% end %>
        <br>
        <p><i class="fa-solid fa-phone" style="margin-right: 20px; color: #F6E9B2;"><b></i> <%= @restaurant.phone %></b></p>
        <p><i class="fa-solid fa-location-pin" style="margin-right: 20px; color: #F6E9B2;"><b></i> <%= @restaurant.address %></b></p>
        <% if current_user.owner? %>
        <% else %>
          <button type="button" class="btn btn-custom-dg" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Review
          </button>
        <% end %>
        <% if current_user == @restaurant.user %>
        <div class="d-flex justify-content-around">
          <%= link_to 'Add meal!', new_restaurant_meal_path(@restaurant), class: 'btn-custom-g' %>
          <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn-o'%>
          <%= link_to 'Delete', restaurant_path(@restaurant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn-h' %>
        </div>
        <% end %>
        <br>
      </div>

      <div class='d-grid grid-3 gap-2 chef-images-container'>
        <% if @restaurant.chef_photos.attached? %>
          <% @restaurant.chef_photos.each do |photo| %>
            <div class='img-chef' style='background-image:url(<%= cl_image_path photo.key %>)'></div>
          <% end %>
        <% else %>
          <div class='img-chef' style='background-image:url(<%= image_path "white.png" %>)'></div>
          <div class='img-chef' style='background-image:url(<%= image_path "black.png" %>)'></div>
          <div class='img-chef' style='background-image:url(<%= image_path "red.png" %>)'></div>
        <% end %>
      </div>
    </div>
  </div>

</div>

<% if @starters.any? %>
  <div class='info-menu'>
    <h1>Choose your starter</h1>
  </div>
  <div class="container d-grid grid-3 gap-3 my-5">
    <% @starters.each do |meal| %>
      <div class="card card-meal">
        <% if meal.photo.attached? %>
        <div class="card-image" style="background-image: url( <%= cl_image_path(meal.photo.key) %>); height:212px;">
        </div>
        <% else %>
        <div class="card-image" style="background-image: url(); height:212px;">
        </div>
        <% end %>

        <div class="card-body card-meal-body">
          <div class='d-flex justify-content-between'>
            <h5 class="card-title"> <%= meal.name.upcase %></h5>
            <h6 class="card-price"><i class="fa-solid fa-tag"></i> <strong><%= number_to_currency(meal.price, :unit => "Rs ") %></strong></h6>
          </div>
          <p><i><%= image_tag "logo.png", alt: "", width: 20, class: "img-logo" %></i> <%= meal.description %> </p>
          <% unless current_user == @restaurant.user %>
            <%= simple_form_for(@order_list) do |f| %>
              <%= f.association :meal, as: :hidden, input_html: {value: meal.id}  %>
              <%= f.association :cart, as: :hidden, input_html: {value: @cart.id}  %>
              <%= f.button :submit,  'Add to Cart', class: 'btn-custom-y' %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if @main.any? %>
  <div class='info-menu'>
    <h1>Choose your main</h1>
  </div>
  <div class="container d-grid grid-3 gap-3 my-5">
    <% @main.each do |meal| %>
      <div class="card card-meal">
        <% if meal.photo.attached? %>
        <div class="card-image" style="background-image: url( <%= cl_image_path(meal.photo.key) %>); height:212px;">
        </div>
        <% else %>
        <div class="card-image" style="background-image: url(); height:212px;">
        </div>
        <% end %>

         <div class="card-body card-meal-body">
          <div class='d-flex justify-content-between'>
            <h5 class="card-title"> <%= meal.name.upcase %></h5>
            <h6 class="card-price"><i class="fa-solid fa-tag"></i> <strong><%= number_to_currency(meal.price, :unit => "Rs ") %></strong></h6>
          </div>
          <p><i><%= image_tag "logo.png", alt: "", width: 20, class: "img-logo" %></i> <%= meal.description %> </p>
          <% unless current_user == @restaurant.user %>
            <%= simple_form_for(@order_list) do |f| %>
              <%= f.association :meal, as: :hidden, input_html: {value: meal.id}  %>
              <%= f.association :cart, as: :hidden, input_html: {value: @cart.id}  %>
              <%= f.button :submit,  'Add to Cart', class: 'btn-custom-y' %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if @desert.any? %>
  <div class='info-menu'>
    <h1>Choose your desert</h1>
  </div>
  <div class="container d-grid grid-3 gap-3 my-5">
    <% @desert.each do |meal| %>
      <div class="card card-meal">
        <% if meal.photo.attached? %>
        <div class="card-image" style="background-image: url( <%= cl_image_path(meal.photo.key) %>); height:212px;">
        </div>
        <% else %>
        <div class="card-image" style="background-image: url(); height:212px;">
        </div>
        <% end %>

        <div class="card-body card-meal-body">
          <div class='d-flex justify-content-between'>
            <h5 class="card-title"> <%= meal.name.upcase %></h5>
            <h6 class="card-price"><i class="fa-solid fa-tag"></i> <strong><%= number_to_currency(meal.price, :unit => "Rs ") %></strong></h6>
          </div>
          <p><i><%= image_tag "logo.png", alt: "", width: 20, class: "img-logo" %></i> <%= meal.description %> </p>
          <% unless current_user == @restaurant.user %>
            <%= simple_form_for(@order_list) do |f| %>
              <%= f.association :meal, as: :hidden, input_html: {value: meal.id}  %>
              <%= f.association :cart, as: :hidden, input_html: {value: @cart.id}  %>
              <%= f.button :submit,  'Add to Cart', class: 'btn-custom-y' %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<div class="display-container" style="margin-bottom: 50px;">
  <div class="inner-display" style="margin-left: 200px;">
    <div id="map" class="mapshow" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>"></div>
  </div>

</div>














<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a review</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= simple_form_for [@restaurant, @restaurant_review] do |f| %>
        <div class="modal-body">
          <div class="mx-3 gap-4">

                <%= f.input :content %>
                  <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>


          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.submit "Send your review", class:"btn btn-primary submit-review" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
