
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path('bover.png') %>);">
</div>
  <div class="container mt-3 mb-3">
    <div class="d-flex justify-content-center card-product mb-5 mx-5">
      <% if @restaurant.photo.attached? %>
        <%= cl_image_tag @restaurant.photo.key %>
      <% else %>
        <%= image_tag "reto.png"%>
      <% end %>
      <div class="card-product-infos">
        <h2 class="mt-4"><%= @restaurant.name %></h2>
        <p><%= @restaurant.phone %></p>
        <p><%= @restaurant.address %></p>
        <p>⭐⭐⭐</p>
        <%= link_to "Menu", restaurant_meals_path(@restaurant), class:"btn btn-primary mt-3" %>
      </div>
    </div>
    <h1><%= @restaurant.name %>'s Reviews</h1>
    <% @reviews.each do |review| %>
      <%= review.content %>
    <% end %>
    <%= simple_form_for [@restaurant, @restaurant_review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.submit %>
    <% end %>
  </div>
