
<div class="container mt-3 mb-3">
  <div class='container-centered d-flex gap-3 justify-content-between'>
    <div style='width:50%;'>
      <div>
        <% if @restaurant.photo.attached? %>
          <%= cl_image_tag @restaurant.photo.key, class: 'img-fluid img-fluid-radius' %>
        <% else %>
          <%= image_tag "reto.png", class: 'img-fluid' %>
        <% end %>
      </div>
    </div>

    <div class='banner-restaurant-right'>
      <div class="restaurant-info">
        <h2 class="card-title mt-4"><%= @restaurant.name %></h2>
        <p class="card-text"> <i class="fa-solid fa-phone"></i> <%= @restaurant.phone %></p>
        <p class="card-text"><i class="fa-solid fa-location-pin"></i> <%= @restaurant.address %></p>
      </div>

      <div class='d-grid grid-3 gap-2 chef-images-container'>
        <% if @restaurant.chef_photos.attached? %>
          <% @restaurant.chef_photos.first(3) do |photo| %>

          <% end %>

        <% else %>
          <div class='img-chef' style='background-image:url(<%= image_path "reto.png", class: 'img-chef' %>)'></div>
          <div class='img-chef' style='background-image:url(<%= image_path "reto.png", class: 'img-chef' %>)'></div>
          <div class='img-chef' style='background-image:url(<%= image_path "reto.png", class: 'img-chef' %>)'></div>
        <% end %>
      </div>
    </div>
  </div>
 <div class=" thumb container mt-2">
    <div class="thumb col-8">
      <button id="likeButton" onclick="like()">⭐</button>
    </div>
    <div id="likeCountDisplay">0 ⭐</div>
    <script>
      var likeCount = 0;

      function like() {
        likeCount++;
        document.getElementById("likeCountDisplay").innerText = likeCount + " ⭐";
      }
    </script>
  </div>
</div>





  <div class = 'info-menu'>
    <h1>Menu</h1>
  </div>

  <div class="container d-grid grid-3 gap-3 my-5">
    <% @meals.each do |meal| %>
      <div class="card card-meal">
        <div class="card-image" style="background-image: url( <%= cl_image_path(meal.photo.key) %>); height:212px;">
        </div>

        <div class="card-body card-meal-body">
          <div class='d-flex justify-content-between'>
            <h5 class="card-title"> <%= meal.name.upcase %></h5>
            <h6 class="card-price"><i class="fa-solid fa-tag"></i> Rs <%= meal.price %></h6>
          </div>
          <p><i class="fa-solid fa-bowl-food"></i> <%= meal.description %> </p>

          <%= simple_form_for(@order_list) do |f| %>
            <%= f.association :meal, as: :hidden, input_html: {value: meal.id}  %>
            <%= f.association :cart, as: :hidden, input_html: {value: @cart.id}  %>
            <%= f.button :submit,  'Add to Cart', class: 'add-to-cart-btn' %>
          <% end %>
        </div>
      </div>

    <% end %>
  </div>


  <div class="container-fluid col-md-6 review-section">
    <% @reviews.each do |review| %>
      <div class="mb-3">
        <p class="mb-0"><%= review.content %></p>
        <hr>
      </div>
    <% end %>
  </div>
    </div>
 
</div>

<div class="container my-5">

  <div id="map" style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
  </div>
</div>
