<!DOCTYPE html>
<html>
  <head>
    <title>HurbanFood - Hungry? We got you covered.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://ga.jspm.io/npm:star-rating.js@4.3.0/dist/star-rating.css">
  </head>

  <body>
    <%= render "shared/flashes" %>
    <% if user_signed_in? %>
      <% if current_user.owner? %>
        <div class="sticky-top-dashboard">
          <%= render 'layouts/top_dashboard' %>
          <div class="dashboard-container">
            
            <div class='dashboard-body'>
            <%= yield %>
            </div>
          </div>
        </div>
      <% else %>
        <%= render "shared/navbar" %>
        <%= yield %>
        <%= render "shared/footer"  unless controller_name == 'registrations' || controller_name == 'sessions' || controller_name == 'passwords' %>
      <% end %>
    <% else %>
      <%= render "shared/navbar" %>
      <%= yield %>
      <%= render "shared/footer"  unless controller_name == 'registrations' || controller_name == 'sessions' || controller_name == 'passwords' %>
    <% end %>
  </body>
</html>
